:root {
    /* colores */
    --soft-orange: #E9AB53;
    --soft-red: #F15E50;
    --of-white: #FFFDFA;
    --grayish-blue: #C5C6CE;
    --dark-gray-blue: #5D5F79;
    --blue: #00001A;
    /* fuente */
    --font: 'Inter', sans-serif;;
}

/* utilidades del sitio */
.container {
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 18px;
    padding-left: 18px;
}

.btn {
    display: inline-block;
    padding: 15px 36px;
    color: var(--of-white);
    background-color: var(--soft-red);
}

body {
    font-size: 15px;
    font-family: var(--font);
}

/* agregar a la hoja de los reseteos */
button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

/* estilos del sitio */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.icon {
    position: relative;
    z-index: 999;
}

/* se quita la x del archivo html */
.icon-close {
    display: none;
}

/* se agrega la x con js */
.icon-close.active{
    display: inline-block;
}

.icon-menu.off {
    display: none;
}

.header-nav {
    position: absolute;
    right: -100%;
    bottom: 0;
    width: 70%;
    padding: 16px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    transition: ease 0.5s right;
    background-color: var(--of-white);
}

.header-nav a {
    color: var(--blue);
    font-weight: 700;
}

.header-nav.header-active {
    right: 0;
}

/* 768px para quitar el menu */
@media(min-width: 1024px) {
    .container {
        padding-right: 0;
        padding-left: 0;
    }

    .header {
        margin-top: 100px;
    }

    .header-botones {
        display: none;
    }

    .header-nav {
        position: static;
        width: initial;
        min-height: initial;
        padding: 0;
        flex-direction: row;
        justify-content: initial;
        gap: 40px;
    }

    .header-nav a {
        color: var(--dark-gray-blue);
        font-weight: 400;
        transition: ease 0.5s color;
    }

    .header-nav a:hover {
        color: var(--soft-red);
    }
}

/* main */
.main {
    display: grid;
    gap: 40px;
    margin-top: 30px;
}

.principal-titulo {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1.14px;
    color: var(--blue);
}

.principal-parrafo {
    margin-bottom: 20px;
    line-height: 24px;
    color: var(--dark-gray-blue);
}

/* post */
.post {
    padding: 29px 22px;
    background-color: var(--blue);
}

.post > h2 {
    margin-bottom: 23px;
    font-size: 28px;
    color: var(--soft-orange);
}

.post hr {
    margin-bottom: 23px;
}

.articulo h3 {
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.2px;
    color: var(--of-white);
}

.articulo p {
    margin-bottom: 23px;
    line-height: 25px;
    color: var(--of-white);
}

@media(min-width: 1024px) {
    .main {
        grid-template-columns: 2fr 1fr;
    }

    .principal {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .principal-grid {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .principal-titulo {
        font-size: 55px;
        line-height: 57px;
        letter-spacing: 1.65px;
        margin: 0;
    }

    .principal-parrafo {
        margin: 0;
        margin-bottom: 36px;
    }

    .articulo h3:hover {
        color: var(--soft-orange);
        cursor: pointer;
    }
}

/* publicaciones estilos */
.publicaciones {
    margin-top: 50px;
    margin-bottom: 20px;
    display: grid;
    gap: 47px;
}

.publicacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
}

.publicacion-textos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.publicacion-textos h3 {
    font-size: 34px;
    color: var(--grayish-blue);
}

.publicacion-textos h2 {
    color: var(--blue);
    font-size: 17px;
    letter-spacing: 0.68px;
}

.publicacion-textos p {
    color: var(--dark-gray-blue);
    line-height: 23px; 
}

@media(min-width: 1024px) {
    .publicaciones {
        gap: 20px;
        margin-top: 52px;
        margin-bottom: 0;
        grid-template-columns: repeat(3, 1fr);
    }

    .publicacion {
        gap: 20px;
        grid-template-columns: 1fr 2fr;
    }

    .publicacion-textos h2:hover {
        color: var(--soft-red);
        cursor: pointer;
    }
}